<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="350px">
    <div *ngFor="let card of graphCard;">
      <mat-grid-tile [colspan]="card.col" [rowspan]="card.row">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>{{card.type.typeName}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <app-canvas-card [card]="card"></app-canvas-card>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </div>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Etat</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Etat Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Type</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Type Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Etat Pers</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Etat Pers Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Element</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Element Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
